@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(182,194,244);
  background: radial-gradient(circle, rgba(182,194,244,1) 0%, rgba(181,201,245,1) 53%, rgba(174,213,244,1) 100%);
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);  
}

.bg-glass-card {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}